<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dirt</key>
	<dict>
		<key>ground</key>
		<string>groundDirt</string>
		<key>mountainUp</key>
		<string>mountainDirt</string>
		<key>mountainDown</key>
		<string>mountainDirtDown</string>
	</dict>
	<key>Grass</key>
	<dict>
		<key>ground</key>
		<string>groundGrass</string>
		<key>mountainUp</key>
		<string>mountainGrass</string>
		<key>mountainDown</key>
		<string>mountainGrassDown</string>
	</dict>
	<key>Ice</key>
	<dict>
		<key>ground</key>
		<string>groundIce</string>
		<key>mountainUp</key>
		<string>mountainIce</string>
		<key>mountainDown</key>
		<string>mountainIceDown</string>
	</dict>
	<key>Snow</key>
	<dict>
		<key>ground</key>
		<string>groundSnow</string>
		<key>mountainUp</key>
		<string>mountainSnow</string>
		<key>mountainDown</key>
		<string>mountainSnowDown</string>
	</dict>
</dict>
</plist>
